body, html{
    height: 100%;
    margin: 0;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.parallax-1, .parallax-2, .parallax-3, .parallax-4, .parallax-5, .parallax-6, .parallax-7{
    position: relative;
    opacity: 0.85;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.parallax-1{
    background-image: url('images/galaxy1.jpg');
    min-height: 100%;
}
.parallax-2{
    background-image: url('images/galaxy2.jpg');
    min-height: 400px;
}
.parallax-3{
    background-image: url('images/typesgalaxy.jpg');
    min-height: 100%;
}
.parallax-4{
    background-image: url('images/collide.jpg');
    min-height: 400px;
}
.parallax-5{
    background-image: url('images/galaxy3.jpg');
    min-height: 400px;
}
.parallax-6{
    background-image:url('images/milky.jpg') ;
    min-height: 400px;
}
.parallax-7{
    background-image: url('images/nightlight.jpg');
    min-height: 400px;
}
.para{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 45px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.para .border{
    background-color: transparent;
    color: #fff;
    padding: 22px;
}
.para .border.color{
    font-size: 80px;
}
.section{
    text-align: center;
    padding: 50px 80px;
    background-color: #f4f4f4;
    color: #666;
}

@media (max-width:568px){
    .parallax-1, .parallax-2, .parallax-3, .parallax-4, .parallax-5, .parallax-6, .parallax-7{
    background-attachment: scroll;
    }
}